<h1> <%= flash[:message] %> </h1>
<%= @user.admin ? "ADMIN": "" %>

Name: <%= @user.first_name %> <%= @user.last_name %>
<br>
Username: <%= @user.user_name %>
<br>
Age: <%= @user.age %>
<br>
Email: <%= @user.email %>
<br>
<% if @user.admin %>
<%=link_to "Create new subject", new_subject_path(@subject)%>
<% end %>

 <h1><%=link_to "Subjects", subjects_path(@subject) %></h1>
<% @user.subjects.each do |subject| %>
    Title: <%= subject.name %>
    <%=link_to "Edit #{subject.name}", subject_path(subject) %>
    <%=link_to "Add #{subject.name}", new_subject_path(subject) %>
        <% subject.textbooks.each do |textbook| %>
        Title: <%= textbook.title %>
        <%=link_to "Add #{textbook.title}", new_subject_path(subject) %>
        <%=link_to "Edit #{textbook.title}", subject_path(subject) %>
    <% end%>
<% end%>

<h1><%= link_to "Delete User",  delete_user_path, :method => 'delete' %></h1>
<h1><%= link_to "Log Out",  signout_path %></h1>
<h1><%= link_to "Textbooks", textbooks_path %></h1>