<h1> <%= flash[:message] %> </h1>
<%= @user.admin ? "ADMIN": "" %>

Name: <%= @user.first_name %> <%= @user.last_name %>
<br>
Username: <%= @user.user_name %>
<br>
Age: <%= @user.age %>
<br>
Email: <%= @user.email %>
<br>
<% if @user.admin %>
<%=link_to "Create new subject", new_subject_path(@subject)%>
<% end %>

 <h1>Subjects</h1>
 <br>
 
<ol>
</li>
<% @user.subjects.each do |subject| %>
    <h2><%= subject.name %> </h2>
    <%=link_to "#{subject.name}", subject_path(subject) %>
        <% subject.textbooks.each do |textbook| %>
        <ol>
        <li>
        <%=link_to "#{textbook.title}", subject_path(subject) %>
        </li>
        </ol>
    <% end%>
<% end%>
</li>
<%=link_to "Add a new subject / All Subjects", subjects_path(@subject) %>
</ol>

<h1><%= link_to "Delete User",  delete_user_path, :method => 'delete' %></h1>
<h1><%= link_to "Log Out",  signout_path %></h1>
<h1><%= link_to "Textbooks", textbooks_path %></h1>