<h1> <%= flash[:message] %> </h1>
<%= @user.admin ? "ADMIN": "" %>

Name: <%= @user.first_name %> <%= @user.last_name %>

Username: <%= @user.user_name %>

Age: <%= @user.age %>

Email: <%= @user.email %>

<%= link_to "Delete User",  signout_path %>
<%= link_to "Log Out",  signout_path %>
<%= link_to "Textbooks", textbooks_path %>%