 


  <%= @subject.name %>

 <% if @user.admin %>
        <%=link_to "Edit Subject", edit_subject_path(@subject) %>
  <% end %>

<h1>Add new textbook</h1>
<%=link_to "Add #{textbook.title}", new_textbook_path(textbook) %>


Textbook List
<% @subject.textbooks.each do |textbook| %>
    Title: <%= textbook.title %>
    <%=link_to "Edit #{textbook.title}", textbook_path(textbook) %>
<% end%>

